{% extends "accounts/base.html" %}
{% block content %}

<!--<h3>Safety Insight Portal</h3>-->
<!--
<iframe width="100%" height="1000" src="https://datastudio.google.com/embed/reporting/4470ec38-890a-4128-9a9c-29d70aa8f25a/page/p_3ziycv0tmc" frameborder="0" style="border:0" allowfullscreen></iframe>
-->
<iframe width="100%" height="1400" src="https://datastudio.google.com/embed/reporting/f46f438f-23e2-42d4-b6c2-1962bf5dcbf7/page/p_q55z2tc9mc" frameborder="0" style="border:0" allowfullscreen></iframe>


<!--
    <iframe id="inlineFrameExample"
        title="Inline Frame Example"
        width="1920"
        height="1080"
        src="https://datastudio.google.com/reporting/4470ec38-890a-4128-9a9c-29d70aa8f25a>
    </iframe>

    <iframe width="100%" height="1000" src="https://datastudio.google.com/reporting/4470ec38-890a-4128-9a9c-29d70aa8f25a" frameborder="0" style="border:0" allowfullscreen></iframe>
    <iframe width="100%" height="1000" src="https://datastudio.google.com/reporting/4470ec38-890a-4128-9a9c-29d70aa8f25a" title="GKD-Insight-Portal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->

{% endblock %}