{% extends "accounts/base.html" %}
{% block content %}

{% if user.is_authenticated %}
<div class="row justify-content-center mt-5">
	<div class="col-md-12 text-center">
		<br><br>
		<h1> Welcome to {{user}}'s main Dashboard</h1>
		<!-- 
		<a role="button" class="btn btn-info btn-lg" href="{% url 'dashboard' %}">HOME</a> -->
		<br><br>
		<a role="button" class="btn btn-info btn-lg" href="{% url 'dashboard' %}">Dashboard</a>
	</div>
</div>
{% else %}
<div class="row justify-content-center mt-5">
	<div class="col-md-7 text-center">
		<br><br><br><br><br>
		<h1>GKD Technologies</h1>
		<h2>Safety powered by information and control</h2>
		<p>Wherever you are in the world, let us help to keep your people safe !! </p>
		<a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
	</div>
</div>

{% endif %}
{% endblock %}